.border {
  border: 1.89px solid #D33C1A;
  border-radius: 16px;
  margin-top: 29.97px;
  margin-right: 94.79px;
  padding: 10px;
  width: 287.95px;
  height: auto;

}

.text{
  font-size: 18.94px;
  line-height: 25.8px;
  text-align: justify;
  font-weight: 400;
  width: 1182.1px;
  height: 78px;
}

.textheading{
  font-size: 22.73px;
  line-height: 30.96px;
  text-align: justify;
  font-weight: 700;
  height: 31px;
  margin-top: 40px;
}

/* Media query for tablets and larger devices */
@media screen and (max-width: 996px) {
  .border {
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 10px;
    padding: 8px;
    width: 100%;
    max-width: 320px;
    height: auto;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
  }

  .textheading {
    font-size: 20px;
    line-height: 1.5;
    height: auto;
    margin-top: 20px;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 576px) {
  .border {
    border-width: 1px;
    border-radius: 8px;
  }

  .text {
    font-size: 14px;
  }

  .textheading {
    font-size: 18px;
    margin-top: 10px;
  }
}


